<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/pageError.css}">
    <title>Error</title>
</head>
<body>


<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1><span class="errorcode" th:text="${errorStatus}">Status Error</span></h1>
    <p class="output" th:text="${errorMessage}"></p>
    <p class="output">Please try to <a th:href="@{/}">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
</div>

</body>
</html>