<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

    <head th:replace="layouts :: header">
</head>
<body>
    <nav th:replace="layouts :: navbar"></nav>

    <div>

        <div th:replace="layouts :: CurrentProjects"></div>

        <div th:replace="layouts :: CurrentUsers"></div>

    </div>

    <div class="col-md-4">
        <canvas id="myChart" height="50" width="50" ></canvas>
    </div>

<script type="text/javascript" th:src="@{/js/projStats.js}"></script>
</body>
</html>