<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="layouts :: header">
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>

    <div class="container">
        <form action="/users/save" th:object="${user}" method="POST">

            <input type="text" placeholder="First Name" th:field="${user.firstName}">
            <input type="text" placeholder="Password" th:field="${user.passwd}">

            <button type="submit">Add User</button>

        </form>

        <h4>Users</h4>

        <table>
            <thead>
            <tr>
                <th>
                    First Name
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aUser : ${usersList}">
                <td th:text="${aUser.firstName}"></td>
            </tr>
            </tbody>
        </table>
</div>

</body>
</html>