<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="layouts :: header">
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>

    <div class="container">
        <form action="/users/save" th:object="${theUser}" method="POST">

            <input type="text" placeholder="First Name" th:field="${theUser.firstName}">
            <input type="text" placeholder="Password" th:field="${theUser.passwd}">

            <select th:field="*{projects}" multiple="multiple">
                <option th:each="project : ${allProjects}"
                        th:value="${project.projectId}"
                        th:text="${project.name}">
                </option>
            </select>

            <button type="submit">Add User</button>

        </form>

        <div th:replace="layouts :: CurrentUsers"></div>
</div>

</body>
</html>