<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment = "header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/formatting.css}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>


<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Project IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects/}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees/}">Employees</a>
            </li>
        </ul>
        <div th:switch="${loggedInUser}">
            <div th:case="'null'">
                <a href="/login"  class="btn btn-primary">Log In</a>
            </div>
            <div th:case="*">
                <button type="button" class="btn btn-outline-success" disabled th:text="${loggedInUser}"> </button>
                <a href="/logout"  class="btn btn-primary">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<div th:fragment = "CurrentProjects">

    <h4>Current Projects</h4>
    <a th:text="'v ' + ${projVersionNumber}"></a>
    <div class="row">
        <div class="col-md-6">

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Project Stage
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aProject : ${projectsList}">
                    <td th:text="${aProject.name}"></td>
                    <td th:text="${aProject.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <canvas id="projectsChart" height="50" width="50" ></canvas>

            <script>
                var chartProjStageCount = "[[${projStageCount}]]";
            </script>
        </div>

    </div>
</div>

<div th:fragment = "CurrentEmployees">

    <h4>Current Employees</h4>
    <hr>

    <a th:href="@{/employees/new}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">First Name </th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employeesList}">
                <td scope="row" th:text="${employee.firstName}"></td>
                <td scope="row" th:text="${employee.email}"></td>
                <td>
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group">
                                <a th:href="@{/employees/update(id=${employee.employeeId})}"
                                    class="btn btn-secondary btn-outline-primary">
                                    Update</a>
                                <a th:href="@{/employees/delete(id=${employee.employeeId})}"
                                    class="btn btn-secondary btn-outline-danger" onclick="if(!(confirm('Delete Employee?'))) return false">
                                    Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div th:fragment = "EmployeeProjCount">
    <h4>Employees</h4>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Project Count
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employeeProjCnt : ${employeeListProjCount}">
            <td th:text="${employeeProjCnt.firstName}"></td>
            <td th:text="${employeeProjCnt.projectCount}"></td>
        </tr>
        </tbody>
    </table>

</div>


<div th:fragment = "ProjectsAdmin">

    <h4>Current Projects</h4>

    <div class="row">
        <div class="col-md-6">
            <a th:href="@{/projects/new}"
               class="btn btn-primary btn-sm mb-3">
                Add Project
            </a>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Project Description
                    </th>
                    <th>
                        Project Stage
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aProject : ${projectsList}">
                    <td th:text="${aProject.name}"></td>
                    <td th:text="${aProject.description}"></td>
                    <td th:text="${aProject.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>