<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add New Project</title>
</head>
<body>

    <nav th:replace="layouts :: navbar"></nav>

    <div class="container">
        <form action="/projects/save" th:object="${project}" method="POST">

            <input type="text" placeholder="Project Name" th:field="*{name}">

            <select th:field="${project.stage}">
                <option th:value="NOTSTARTED"> Not Started</option>
                <option th:value="INPROGRESS"> In Progress</option>
                <option th:value="COMPLETED"> Completed</option>
            </select>

            <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>

            <button type="submit">Add Project</button>

        </form>
    </div>

</body>
</html>